<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MittClick</title>
    <link rel="stylesheet" href="~/BreakPoints.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MittClick.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body>

    @{
        var routeController = ViewContext.RouteData.Values["controller"].ToString();
        var routeAction = ViewContext.RouteData.Values["action"].ToString();
    }

    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Mitt Click</a>

            @if (!(routeController == "Home" && routeAction == "Index"))
            {
                <form asp-controller="Home" asp-action="Search" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Sök..." aria-label="Search" name="query">
                    <!-- Dropdown för filtrering -->

                <select name="filter">
                <option value="option1">Personer</option>
                <option value="option2">Projekt</option>
                <!-- Lägg till fler filtreralternativ här -->
                </select>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sök</button> *@
                </form>
            }

            <div class="navbar-nav ml-auto">

                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Logga in</a>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="nav-item dropdown align-content-center">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                          <!--Ändra till profilbild så småningom-->
                            <img class="img rounded-circle" style="width: 3rem;" src="~/lib/image/defaultprofileimg.jpg" alt="Profile Image">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-action="MyProfile" asp-controller="Account" class="dropdown-item">Profil</a>
                            <a asp-action="EditUser" asp-controller="Account" class="dropdown-item">Inställningar</a>

                            <div class="dropdown-divider"></div>
                            <form method="post" asp-controller="Account" asp-action="Logout" class="text-center">
                                <button type="submit" class="btn btn-danger">Logga ut</button>
                            </form>
                        </div>
                    </div>
                }

            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MittClick - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
