@model MittClick.Models.Profile
@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{
    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var receiverId = Model.UserId;

    <a href="@Url.Action("Send", "Message", new { senderId = currentUserId, receiverId = receiverId })" class="btn btn-success mb-2">Skicka meddelande</a>
}
else
{
    var receiverId = Model.UserId;
    <a href="@Url.Action("Send", "Message", new { receiverId = receiverId })" class="btn btn-success mb-2">Skicka meddelande</a>
}
