@model MittClick.Models.ViewModels.AddProjectViewModel
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row d-flex justify-content-between">
                            <div class="col col-2">
                                <button class="btn btn-secondary" onclick="history.back()">Tillbaka</button>
                            </div>
                            <div class="col col-8 text-center">
                                <h4>Nytt projekt</h4>
                            </div>
                            <div class="col col-2">
                                <!-- låt vara, balanserar spacet i headern mot knappen -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Add" asp-controller="Project" method="post" enctype="multipart/form-data">

                            <div class="form-floating mb-2">
                                <input asp-for="Title" class="form-control" id="title" placeholder="Titel" required>
                                <label for="title">Titel</label>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-2">
                                <input asp-for="Summary" class="form-control" id="summary" placeholder="Sammanfattning" required>
                                <label for="summary">Sammanfattning</label>
                                <span asp-validation-for="Summary" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-2">
                                <input asp-for="Description" class="form-control" id="description" placeholder="Beskrivning" required>
                                <label for="description">Beskrivning</label>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProjectImage" class="mb-0 mr-2">Ladda upp bild</label>
                                <input type="file" class="form-control" asp-for="ProjectImage" />
                            </div>

                            <div class="mt-2 text-center">
                                <button type="submit" class="btn btn-primary w-100">Lägg till</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>