@model MittClick.Models.ViewModels.ChangePasswordViewModel

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
						<h4>Ändra lösenord</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-floating mb-2">
                                <input asp-for="CurrentPassword" class="form-control" id="currentPassword" placeholder=" " required>
                                <label for="currentPassword">Nuvarande Lösenord</label>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-2">
                                <input asp-for="NewPassword" class="form-control" id="newPassword" placeholder=" " required>
                                <label for="newPassword">Nytt Lösenord</label>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-2">
                                <input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" placeholder=" " required>
                                <label for="confirmPassword">Bekräfta Lösenord</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center mt-2">
                                <button type="submit" class="btn btn-primary w-100">Spara</button>
                        </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>