@model Profile

<a asp-action="EditProfile" asp-controller="Account">Redigera profil</a>

@if (User.Identity.IsAuthenticated)
{
    <h1>Här är din profil, @User.Identity.Name</h1>
}

@if (!User.Identity.IsAuthenticated)
{
    <h1>Ingen användare inloggad</h1>
}

