@model MittClick.Models.EditProfileViewModel

<!-- Lägg till en HTML-formulärtagg -->
<form asp-action="Edit" asp-controller="Profile" method="post" enctype="multipart/form-data">

    <!-- ... övriga HTML-kod ... -->

    <div class="col-md-4">
        <div class="card mb-3">
            <!-- ... övriga HTML-kod ... -->

            <div class="card-body">
                <h5 class="card-title">
                    <input asp-for="FirstName" class="form-control" />
                    <input asp-for="LastName" class="form-control" />
                </h5>
                <p class="card-text">
                    <textarea asp-for="Information" style="resize: none;" class="form-control" rows="4"></textarea>
                </p>

                <!-- Lägg till submit-knapp här -->
                <button type="submit" class="btn btn-primary">Spara ändringar</button>
            </div>
        </div>
    </div>

    <!-- ... övriga HTML-kod ... -->

</form>
