@using System.Security.Claims
@model MittClick.Models.ViewModels.EditProfileViewModel



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
            <div class="card">
              
                @{
                    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                }
                <div class="card-header">
                    <div class="row d-flex justify-content-between">
                        <div class="col col-2">
                            <a href="@Url.Action("Profile", "Profile", new { userId = currentUserId })" class="btn btn-outline-secondary mb-2">Tillbaka</a>
                        </div>
                        <div class="col col-8 text-center">
                            <h4>Uppdatera profil</h4>
                        </div>
                        <div class="col col-2">
                            <!-- låt vara, balanserar spacet i headern mot knappen -->
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <form asp-action="Edit" asp-controller="Profile" method="post" enctype="multipart/form-data">

                        <!--Förnamn-->
                        <div class="form-floating">
                            <input type="text" asp-for="FirstName" id="Firstname" class="form-control" placeholder="Input Firstname here" />
                            <label for="Firstname" class="form-label">Förnamn</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <!--Efternamn-->
                        <div class="form-floating mt-2">
                            <input type="text" asp-for="LastName" id="Lastname" class="form-control" placeholder="Input Lastname here" />
                            <label for="Lastname" class="form-label">Efternamn</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <!--Beskrivning-->
                        <div class="form-floating mt-2">
                            <textarea asp-for="Information" class="form-control" placeholder="Input description here" style="height: 200px; resize: none;"></textarea>
                            <label asp-for="Information" class="form-label">Kort beskrivning om dig:</label>
                            <span asp-validation-for="Information" class="text-danger"></span>
                        </div>

                        <!---ProfilBild-->
                        <div class="form-group mt-4">
                            <h6>Ladda upp profilbild</h6>
                            <div class="d-flex">
                                <input type="file" class="form-control" asp-for="ProfileImage" id="inputGroupFile02">
                                <button type="button" class="btn btn-outline-primary" for="inputGroupFile02" id="uploadBtn">Visa</button>
                            </div>
                        </div>
                        
                        <script>
                                  $(document).ready(function () {
                                      $("#uploadBtn").click(function () {
                                          var input = $("#inputGroupFile02")[0];
                                          var file = input.files[0];

                                          // Kolla om bilden redan visas
                                          var imageVisible = $("#uploadedImage").is(":visible");

                                          if (file) {
                                              var reader = new FileReader();

                                              reader.onload = function (e) {
                                                  var image = $("#uploadedImage");

                                                  // Om bilden redan visas, dölj den, annars visa den
                                                  if (imageVisible) {
                                                      image.hide();
                                                  } else {
                                                      image.attr("src", e.target.result).show();
                                                  }
                                              };

                                              reader.readAsDataURL(file);
                                          }
                                      });
                                  });
                        </script>

                        <!--Visa som rund grej-->
                        <div id="imageContainer" class="mt-2">
                            <img id="uploadedImage" class="img-fluid" src="#" alt="Uploaded Image" style="display: none;">
                        </div>

                        <!--Privat profil checkbox-->
                        <div class="form-group mt-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="PrivateProfile" class="custom-control-input" id="privateprofilecheck">
                                <label class="custom-control-label" for="privateprofilecheck">Privat profil</label>
                            </div>
                        </div>

                        <!--spara-knapp-->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block mt-2">Spara ändringar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
