@model MittClick.Models.ViewModels.UpdateSkillViewModel

<!DOCTYPE html>
<html>
<head>
    <title>EditSkill</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Uppdatera färdigheter</h4>
                    </div>

                    <div class="card-body">

                        <div class="text-center" id="newSkillContainer">
                            <form method="post" asp-action="AddSkill" asp-controller="Profile" onsubmit="return validateForm()" class="row g-2 align-items-center justify-content-center mb-3" id="skillForm">
                                <div class="col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" asp-for="Name" id="name" class="form-control p-1 fs-6" placeholder="Ny färdighet" required />
                                    <span asp-validation-for="Name" class="text-warning"></span>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-success p-1 fs-6">Lägg till</button>
                                </div>
                            </form>
                        </div>

                        <ul class="list-group list-group-flush">
                            @foreach (var skill in Model.Skills)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0" style="line-height: 1;">@skill.Name</h6>
                                    <!-- Ta-bortknapp -->
                                    <form asp-action="DeleteSkill" asp-controller="Profile" method="post">
                                        <input type="hidden" name="id" value="@skill.Id" />
                                        <button type="submit" class="btn btn-danger">X</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
