@model MittClick.Models.ViewModels.UpdateContactInfoViewModel

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Redigera kontaktuppgifter</h4>
                    </div>

                    <div class="card-body">
                        <form asp-action="AddContactInfo" asp-controller="Profile" method="post">
                            <div class="container mt-3">
                                <div class="row">
                                    <div class="col-12">

                                        <!-- Radio buttons -->
                                        <div class="btn-group d-flex" role="group">
                                            <input asp-for="Type" type="radio" class="btn-check" id="btnradio1" autocomplete="off" value="Email">
                                            <label class="btn btn-outline-primary flex-fill" for="btnradio1">Email</label>

                                            <input asp-for="Type" type="radio" class="btn-check" id="btnradio2" autocomplete="off" value="Telefon">
                                            <label class="btn btn-outline-primary flex-fill" for="btnradio2">Telefon</label>

                                            <input asp-for="Type" type="radio" class="btn-check" id="btnradio3" autocomplete="off" value="Annat">
                                            <label class="btn btn-outline-primary flex-fill" for="btnradio3">Annat</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3 mt-2">
                                    <input asp-for=Info type="text" class="form-control" placeholder="Kontaktinformation" aria-label="ContactInfo" required>
                                    <button class="btn btn-success" type="submit">Lägg till</button>
                                </div>
                                <span asp-validation-for="Info" class="text-warning"></span>
                            </div>
                        </form>

                        <dl class="list-group list-group-flush me-4">
                            @foreach (var contact in Model.ContactInfos)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <dt class="col-sm-3">@contact.Type:</dt>
                                    <dd class="col-sm-9">@contact.Info</dd>
                                    <form asp-action="DeleteContactInfo" asp-controller="Profile" method="post">
                                        <input type="hidden" name="id" value="@contact.Id" />
                                    <button type="submit" class="btn btn-danger">X</button>
                                    </form>
                                </li>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
