@model List<MittClick.Models.Message>

@{
    ViewData["Title"] = "Inbox";
}

<div class="container mt-4">
    <h2>Inkorg</h2>

    @if (Model.Count > 0)
    {
        <div class="row">
            @foreach (var message in Model)
            {
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-header">
                            Från: @message.SenderName
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="card-text">@message.Text</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="card-text"><strong>Status:</strong> @(message.IsRead ? "Läst" : "Oläst")</p>
                                    @if (message.IsRead == false)
                                    {
                                        <a class="btn btn-light" asp-action="MarkAsRead" asp-controller="Message" asp-route-messageId="@message.MessageId">
                                            <i class="fas fa-check"></i> Markera som läst
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Din inkorg är tom.</p>
    }
</div>
