@model MittClick.Models.SendMessageViewModel

@{
    ViewData["Title"] = "Skicka Meddelande";
}

<div class="container mt-4">
    <h2>Skicka Meddelande</h2>

    <form method="post" asp-page-handler="SendMessage">
        <div class="form-group">
            <label asp-for="SenderName"></label>
            <input asp-for="SenderName" class="form-control" />
            <span asp-validation-for="SenderName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ReceiverName"></label>
            <input asp-for="ReceiverName" class="form-control" />
            <span asp-validation-for="ReceiverName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Text"></label>
            <textarea asp-for="Text" class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Skicka meddelande</button>
    </form>

</div>

<script type="module" src="din-javascript-fil.js"></script>