@model MittClick.Models.ViewModels.SendMessageViewModel


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4> Meddelande </h4>
                </div>
                <div class="card-body">

                    <form asp-action="Send" asp-controller="Message" method="post" enctype="multipart/form-data">

                        <input type="hidden" asp-for="ReceiverId" value="@Model.ReceiverId" />
  
                        <input type="hidden" asp-for="ReceiverName" value="@Model.ReceiverName" />
                        
                        <div class="form-floating mt-2">
							<p id="receiver" class="form-control-static"><strong>Till:</strong> @Model.ReceiverName</p>
                        </div>

                        <div class="form-floating mt-2">
                            <textarea asp-for="Text" class="form-control" placeholder="Meddelande" style="resize: none;height: 200px;"></textarea>
                            <label for="Text" class="form-label">Meddelande</label>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>

                        @if (!User.Identity.IsAuthenticated)
                        {
                           <div class="form-floating mt-2">
                            <input type="text" asp-for="SenderName" id="Sender" class="form-control" placeholder="Avsändare" />
                            <label for="Sender" class="form-label">Avsändare</label>
                            <span asp-validation-for="SenderName" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.SenderName)
                        }

                        <div class="form-group text-center ">
                            <button type="submit" class="btn btn-primary btn-block mt-2">Skicka</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
