@model List<Profile>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-8 mx-auto">
            @{
                // Tar söksträngen från URLen
                var searchQuery = Context.Request.Query["query"];
            }

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="searchBox" value="@searchQuery" type="search" placeholder="Sök..." onkeyup="searchProfiles()" aria-label="Search">
            </form>

        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', onPageLoad);

        // function onPageLoad() {
        //     searchProfiles();
        // }

        function searchProfiles() {
            var searchBox = document.getElementById('searchBox');
            var searchValue = searchBox.value;
            var url = searchValue ? '@Url.Action("SearchProfiles", "Search")' : '@Url.Action("SearchEmpty", "Search")';
            url += `?searchTerm=${encodeURIComponent(searchValue)}`;

            fetch(url, {
                method: 'GET'
            })
                .then(response => response.text())
                .then(data => {
                    var profilesList = document.getElementById('profilesList');
                    if (data) {
                        profilesList.innerHTML = data;
                    } else {
                        profilesList.innerHTML = '';
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Attach event listener to searchBox for keyup event
        var searchBox = document.getElementById('searchBox');
        searchBox.addEventListener('keyup', searchProfiles);
    </script>

    <div id="profilesList">
		@Html.Partial("SearchProfile", Model)
    </div>
