@model IEnumerable<Profile>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hej @User.Identity.Name!</h1>

    <br />
    <br />

    <h1 class="display-4">Välkommen!</h1>
    <h4> Hitta din nya click</h4>
    
    <div class="col-lg-6 mx-auto">
        <form asp-controller="Search" asp-action="Result" method="get" class="form-inline my-2 my-lg-0"
        >
			<div class="input-group w-100">
				<input class="form-control mr-sm-2" type="search" placeholder="Sök..." aria-label="Search" name="query">
				<button class="btn btn-outline-primary my-3 my-sm-0" type="submit">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</button>
			</div>
		</form>
    </div>
    
    <br />

    <div class="mb-3">
        <button class="btn btn-info" onclick="loadRandomProfiles()">Ladda slumpade profiler</button>
    </div>

    <div id="profilesList">
        @Html.Partial("SearchProfile", Model)
    </div>

    <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum."
    </p>

    <script>
        $(document).ready(function () {
            loadRandomProfiles();
        });

        function loadRandomProfiles() {
            $.ajax({
                url: '@Url.Action("SearchRandom", "Search")',
                type: 'GET',
                success: function (data) {
                    $('#profilesList').html(data);
                },
                error: function () {
                    // Handle errors if needed
                }
            });
        }
    </script>
</div>
